body{
    width: 100%;
    margin-top: 5%;
    color: white;
    background: linear-gradient(-45deg, #c724f0, #3169e4, #ec1eff, #043b83);
    background-size: 400% 400%;
    font-family: 'Ubuntu Mono', monospace;

}
img{
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header{
    padding-bottom: 100px;
}

.navbar{
    width: 30vw;
    border: 1px solid black;
    position: relative;
    float: right;
}
.dropdown-menu{
    background-color: white;
}

.div-intro{
    width: 50vw;
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
.bt-contact-me{

    background-color: transparent;
    border: 1px solid black;
    border-radius:10px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bt-contact-me:hover {
    color: white;
    border: 1px solid white;
}

#home, #myprojects, #otherprojects{
    margin-bottom: 80px;
}
#home{
    margin-top: 25px;
}
.myprojects{
    height: 100vh;
}

footer{
    height: 100vh;
}